@page "/login"
@using System.ComponentModel.DataAnnotations
@inject IAuthenticationService AuthenticationService
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager
@using System.Text.RegularExpressions
@inherits LayoutComponentBase
@inject MenuService MenuService

<PageTitle>Login</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem lg="6">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@isValid">
                <div class="alert alert-info">
                    Email: user@example.com<br />
                    Password: string
                </div>
                <MudTextField T="string" Label="Email" @bind-Value="@model.Email" Immediate="true" Required="true" RequiredError="Email is required!" InputType="InputType.Email" InputMode="InputMode.email" />
                <MudTextField T="string" Label="Password" @bind-Value="@model.Password" Required="true" Immediate="true" InputType="InputType.Password"
                Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPasswordClick" RequiredError="Password is required!" />
                <div class="mt-2">
                    <MudLink Href="/forgot-password" Class="ml-auto" Color="Color.Primary">
                        <MudText>Forgot password?</MudText>
                    </MudLink>
                </div>
                <div class="d-flex align-center justify-space-between mt-6">
                    <MudButton Href="/register" Class="mr-auto" Variant="Variant.Text" Color="Color.Default">
                        <MudText>Register</MudText>
                    </MudButton>
                    <MudButton Disabled="@(loading || !isValid)" OnClick="HandleSubmit" Class="ml-auto" Variant="Variant.Filled" Color="Color.Primary">
                        @if (loading)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Working...</MudText>
                        }
                        else
                        {
                            <MudText>Login</MudText>
                        }
                    </MudButton>
                </div>
            </MudForm>
        </MudPaper>
        <div hidden="@(!showError)">
            <MudAlert Severity="Severity.Error">@error</MudAlert>
        </div>
    </MudItem>
</MudGrid>

@code {
    private bool isValid;
    private MudForm? form;
    private Model model = new Model();
    private bool loading;
    private string error;
    private bool showError;
    private bool isShow;
    private InputType PasswordInput = InputType.Password;
    private string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    private void ShowPasswordClick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
    protected override async void OnInitialized()
    {
        var user = await LocalStorageService.GetItem<UserModel>("user");
        // redirect to home if already logged in
        if (user != null && AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }
    private async void HandleSubmit()
    {
        loading = true;
        try
        {
            showError = false;
            await AuthenticationService.Login(model.Email, model.Password);
            loading = false;
            MenuService.SetIsAuthenticated(true);
            var returnUrl = NavigationManager.QueryString("returnUrl") ?? "/";
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error Login: " + ex.Message);
            error = ex.Message;
            showError = true;
            loading = false;
            StateHasChanged();
        }
    }

    private class Model
    {
        [Required]
        public string Email { get; set; }

        [Required]
        public string Password { get; set; }
    }
}