@page "/register"
@using System.ComponentModel.DataAnnotations
@inject IAuthenticationService AuthenticationService
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager
@using System.Text.RegularExpressions
@inherits LayoutComponentBase

<PageTitle>Register</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem lg="6">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@isValid">
                <MudTextField T="string" Label="Email" @bind-value="model.Email" Immediate="true" Required="true" RequiredError="Email is required!" />
                <MudTextField T="string" Label="Password" @bind-value="model.Password"
                              InputType="InputType.Password" Required="true" Immediate="true"
                              RequiredError="Password is required!" />
                <MudTextField T="string" Label="Confirm Password" @bind-value="model.ConfirmPassword"
                              InputType="InputType.Password" Required="true" Immediate="true"
                              RequiredError="Password is required!" />
                <div class="d-flex align-center justify-space-between mt-6">
                    <MudButton Disabled="@(loading || !isValid)" OnClick="HandleSubmit" Class="ml-auto" Variant="Variant.Filled" Color="Color.Primary">
                        @if (loading)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Working...</MudText>
                        }
                        else
                        {
                            <MudText>Register</MudText>
                        }
                    </MudButton>
                    <MudButton Href="/login" Class="ml-auto" Variant="Variant.Filled" Color="Color.Primary">
                        <MudText>Login</MudText>
                    </MudButton>
                </div>
            </MudForm>
        </MudPaper>
        <div hidden="@(!showMessage)">
            <MudAlert Severity="@severity">@message</MudAlert>
        </div>
    </MudItem>
</MudGrid>

@code {
    private bool isValid;
    private MudForm form;
    private RegisterRequest model = new RegisterRequest();
    private bool loading;
    private string message;
    private bool showMessage;
    private Severity severity;

    protected override async void OnInitialized()
    {
        var user = await LocalStorageService.GetItem<UserModel>("user");
        // redirect to home if already logged in
        if (user != null && AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }
    private async void HandleSubmit()
    {
        loading = true;
        try
        {
            showMessage = false;
            var result = await AuthenticationService.Register(model);
            message = result.Message;
            severity = result.Success ? Severity.Success : Severity.Error;
            showMessage = true;
        }
        catch (Exception ex)
        {
            message = "An error occurred.";
            severity = Severity.Error;
            showMessage = true;
            loading = false;
            StateHasChanged();
        }
    }
}