@page "/recipe/view"
@using RecipeLewis.Models
@using RecipeLewis.Models.Requests
@using Models.Results
@using AutoMapper
@using System.Net.Http.Headers
@inject IRecipeService RecipeService
@inject IDocumentService DocumentService
@inject IAuthenticationService AuthenticationService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IMapper Mapper
@inject IDialogService DialogService
@inject IHttpService HttpService

<PageTitle>@model.Title</PageTitle>

<MudGrid>
    <MudItem xs="12" sm="12" lg="10">
        <MudPaper Class="pa-4">
            <MudItem xs="12" sm="12" md="12" lg="12" hidden="@(!loading)">
                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
            </MudItem>
            <MudForm @ref="form" hidden="@(loading)">
                <MudGrid>
                    <MudItem xs="12" sm="12" md="6" lg="6">
                        <h1>@((MarkupString)model.Title)</h1>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="6" lg="6">
                        <MudInputLabel Class="bold">Author</MudInputLabel>
                        <MudText>@((MarkupString)model.Author)</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="6" lg="6">
                            <MudInputLabel Class="bold">Category</MudInputLabel>
                            <MudText>@model.Category?.Name</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="6" lg="6">
                            <MudInputLabel Class="bold">Yield</MudInputLabel>
                            <MudText>@((MarkupString)model.Yield)</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="12">
                            <MudInputLabel Class="bold">Tags</MudInputLabel>
                            <MudChipSet>
                            @foreach (var value in model.Tags)
                            {
                                <MudChip Text="@value.Name"></MudChip>
                            }
                        </MudChipSet>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="12">
                            <MudInputLabel Class="bold">Description</MudInputLabel>
                            <MudText>@((MarkupString)model.Description)</MudText>
                        </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="12">
                            <MudInputLabel Class="bold">Storage</MudInputLabel>
                            <MudText>@((MarkupString)model.Storage)</MudText>
                        </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="12">
                            <MudInputLabel Class="bold">Nutrition</MudInputLabel>
                            <MudText>@((MarkupString)model.Nutrition)</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="4" lg="4">
                            <MudInputLabel Class="bold">Prep Time</MudInputLabel>
                            <MudText>@((MarkupString)model.PrepTime.ToString())</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="4" lg="4">
                            <MudInputLabel Class="bold">Cook Time</MudInputLabel>
                            <MudText>@((MarkupString)model.CookTime.ToString())</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="4" lg="4">
                            <MudInputLabel Class="bold">Total Time</MudInputLabel>
                            <MudText>@((MarkupString)model.TotalTime.ToString())</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="12" class="ma-auto">
                            <MudInputLabel Class="bold">Ingredients</MudInputLabel>
                            <div id="ingredients">
                                <MudText>@((MarkupString)model.IngredientsHTML)</MudText>
                            </div>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="12" class="ma-auto">
                            <MudInputLabel Class="bold">Directions</MudInputLabel>
                            <div id="directions">
                                <MudText>@((MarkupString)model.DirectionsHTML)</MudText>
                            </div>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="12" Class="d-print-none">
                            <MudPaper Outlined="true">
                            @foreach (var file in documents)
                            {
                                <MudItem xs="12" sm="12" md="12" lg="3">
                                    <a href="@($"{apiBaseAddress}documents/view/{recipeId}/{file.DocumentId}")" target="_blank" title="Recipe Image">
                                        <MudImage Src="@($"{apiBaseAddress}documents/view/{recipeId}/{file.DocumentId}")" ObjectFit="ObjectFit.Contain" Fluid="true" Alt="@file.Name" Elevation="25" Class="rounded-lg" />
                                    </a>
                                    <a href="@($"{apiBaseAddress}documents/download/{recipeId}/{file.DocumentId}")" target="_blank" title="Recipe Image">
                                        <MudIcon Icon="@Icons.Filled.Download"></MudIcon>
                                    </a>
                                </MudItem>
                            }
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="2" lg="2" Class="d-print-none">
        <MudPaper Class="pa-4 position-fixed-lg" Style="">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12" sm="12" md="12" lg="12">
                    <MudButton Disabled="@(loading)" OnClick="HandlePrint" Variant="Variant.Filled" Color="Color.Primary">
                        @if (loading)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Working...</MudText>
                        }
                        else
                        {
                            <MudText>Print</MudText>
                        }
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>
<style>
    .bold {
        font-weight: bold !important;
    }
</style>
@code {
    private MudForm? form;
    private string error;
    private bool showError;
    private bool loading = true;
    RecipeModel model = new RecipeModel();
    List<DocumentModel> documents = new List<DocumentModel>();
    private int recipeId;
    private string apiBaseAddress;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            loading = true;
            model = await RecipeService.GetRecipe(recipeId);
            documents = model.Documents;
            loading = false;
            StateHasChanged();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        apiBaseAddress = HttpService.GetBaseAddress();
        recipeId = Int32.Parse(NavigationManager.QueryString("recipeId"));
    }
    public async Task HandlePrint()
    {
        await JSRuntime.InvokeVoidAsync("print");
    }
}